.arrow-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white);
  border: none;
  position: absolute;
  left: 30px;
  top: 50%;
  cursor: pointer;

  @media screen and (max-width: 1280px) {
    display: none;
  }

  &__after {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white);
    border: none;
    position: absolute;
    transform: rotate(180deg);
    right: 30px;
    top: 50%;
    cursor: pointer;

    @media screen and (max-width: 1280px) {
      display: none;
    }
  }
}