.format-cards {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 100px 96px;
  gap: 20px;
  margin-bottom: 32px;
  @media screen and (max-width: 1280px) {
    margin-bottom: 16px;
  }
  &__item {
    z-index: 2;
    width: 349px;
    height: 444px;
    border-radius: 16px;
    background: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    );
    transition: transform 0.3s;

    &--title {
      margin: 248px 24px 16px;
      color: var(--primary-white);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @media screen and (max-width: 1280px) {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    &--text {
      color: var(--primary-white);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin: 0 24px 24px;
    }
  }
  &__item:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
.walrus {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url(../images/walrus@x1.png);
}
.horseshoe {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url(../images/horseshoe@x1.png);
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
.handlebar {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url(../images/handlebar@x1.png);
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
