.contact-form {
  display: flex;
  flex-direction: column;

  gap: 24px;

  @media screen and (max-width: 1280px) {
    margin: 0 20px;
  }

  &__field {
    max-width: 605px;
    max-height: 55px;
    border-radius: 8px;
    border: 1px solid var(--secondary-brown);

    @media screen and (max-width: 1280px) {
      width: 100%;
      max-height: 55px;
    }
  }

  &__input {
    background-color: var(--primary-white);
    border: none;
    margin: 16px 42px;
    width: 521px;
    max-height: 23px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 1280px) {
      margin: 8px 24px;
      width: 85%;
      max-height: 23px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
  }

  &__politics {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &--link {
      text-decoration: underline;
      color: var(--primary-black);
    }
  }
}